<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        
        <div class="well well-lg">
          
          <h2><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><text>Shroom TApp-xologist</text></h2>
        </div>
        
        <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>

</div>

<div class="question1"><h1>Is your mushroom bruised?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/bruised/false.jpg" alt="false">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/bruised/true.jpg" alt="true">
    </a>
  </div>

  </div>

  <div class="question1"><h1>What shape is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/bell.jpg" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/conical.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/convex.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/flat.jpg" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/knobbed.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capShape/sunken.jpg" alt="...">
    </a>
  </div>

  </div>

  <div class="question1"><h1>What does the cap surface look like?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capSurface/fibrous.jpg" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capSurface/grooves.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capSurface/scaly.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capSurface/smooth.jpg" alt="...">
    </a>
  </div>

</div>

  <div class="question1"><h1>What type of gill attachment do you observe in your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillAttachment/attached.jpg" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillAttachment/free.jpg" alt="...">
    </a>
  </div>

  </div>

  <div class="question1"><h1>What color is the gill color?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/brown.jpg" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/black.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/purple.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/buff.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/pink.jpg" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/orange.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/white.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/chocolate.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/red.jpg" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/yellow.jpg" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/gillColor/green.jpg" alt="...">
    </a>
  </div>

  </div>

  <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>

  <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>

  <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>

  <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>
</div>
  <div class="question1"><h1>What color is the cap of your mushroom?<span class="glyphicon glyphicon-question-sign" id="sign" aria-hidden="true"></span></h1></div>
        <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/brown.png" alt="brown">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/buff.jpg" alt="...">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/green.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/pink.png" alt="...">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/grey.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/white.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/cinnamon.png" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/red.png" alt="...">
    </a>
  </div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="img/capColor/yellow.png" alt="...">
    </a>
  </div>






</div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
 
      </div>
    </div>
  </div>
</div>

<div class="wrapper container">
  <row class="row">
    <column class="col-md-12">
    <h2>I got 999 Mushrooms</h2>
    <ul id="mushroom-list" class="list-group">
      {{#each mushrooms}}
      <li data-id="{{this.id}}" class="list-group-item">
        <span>{{this}}, {{this.class}}</span>
      </li>
      {{/each}}
    </ul>
    </column>
  </row>
</div>
<script src="/js/index.js"></script>