<div class="wrapper container">
  <row class="row">
    <column class="col-md-12">
    <h2>I got 999 Mushrooms</h2>
    <ul id="mushroom-list" class="list-group">
      {{#each mushrooms}}
      <li data-id="{{this.id}}" class="list-group-item">
        <span>{{this.id}}</span>
      </li>
      {{/each}}
    </ul>
    </column>
  </row>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
