<div class="wrapper container">
  <nav class="navbar navbar-expand-lg text-danger">
    <a class="navbar-brand" href="/">
    <img src="/img/logo.png" alt="Page Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
  <row class="row">
    <column class="col-md-12 panelRow">
    </column>
  </row>
  <!-- commented out
  <row class="row">
    <column class="col-md-12">
    <h2>I got 999 Mushrooms</h2>
    <ul id="mushroom-list" class="list-group">
      {{#each mushrooms}}
      <li data-id="{{this.id}}" class="list-group-item">
        <span>{{this}}, {{this.class}}</span>
      </li>
      {{/each}}
    </ul>
    </column>
  </row> 
    commented out-->
</div>
<script src="/js/index.js"></script>