<div class="wrapper container">
  <nav class="navbar navbar-expand-lg text-danger">
    <a class="navbar-brand" href="/">
    <img src="/img/logo.png" alt="Page Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
  <row class="row">
    <column class="col-md-12 panelRow">
    <div class="card text-primary border-primary">
      <div class="card-header" id="questionHeader"></div>
      <div class="card-body" id="questionBody">
        <row class="row" id="imageRow"></row>
      </div>
    </div>
    </column>
  </row>
</div>
<script src="/js/index.js"></script>